<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      id="text"
      name="text"
      [(ngModel)]="text"
      placeholder="Add Task"
      required
    />
  </div>
  <div class="form-control">
    <label for="text">Day & Time</label>
    <input
      type="text"
      id="day"
      name="day"
      [(ngModel)]="day"
      placeholder="Add Day & Time"
      required
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      type="checkbox"
      id="reminder"
      [(ngModel)]="reminder"
      name="reminder"
      required
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
